.App {
  text-align: center;
}

#container {
  display: grid;
  width: 410px;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  margin: 4rem auto;
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}